{% load static %}
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

     <!-- Site Metas -->
    <title>SmartEDU - Education Responsive HTML5 Template</title>
    <style>
        form{
        justify-content:left;
        align-items:center;
        margin:1;
        border:1.5px solid black;
        line-height:2.5;
       display:inline-block;

        font-size:18px;
        font-family:sans-serif;
        }

        </style>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'js/modernizer.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version">
<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
 <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
<div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url({% static 'images/slider-03.jpg' %})">
 <div class="dtab">
                      <div class="container">
                          <div class="row">
                          <div class="col-md-12 col-sm-12 text-right">
                    <div class="big-tagline">
                    <h2><strong>EduSquare </strong> education College</h2><center>
                        <p class="lead">For entering your profile you need to fill this form... </p></center></div>
                 </div>
                  </div>
                    </div>
                      </div></div>
                </div>
        </div>
    </div>

        </div></div>
    </div>
<div align="center">
 <footer class="footer">
<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
 <table align="center" cellpadding="10">

    <form action="form" method="post">
    {%csrf_token %}

            <h1><i>
    Please Fill this form!!!
</i></h1>

<tr>
    <td>Name: </td>
    <td><input type="text" name="Name:" placeholder="Enter your Name"></td><br>
    </tr>
    <tr>
        <td>Date Of Birth: </td><td><input type="date" name="DOB:" placeholder="Enter your Date of Birth"></td><br>
        </tr>
    <tr>
    <td>Age: </td><td><input type="number" name="Age:" placeholder="Enter your Age"></td><br>
        </tr>
    <tr>
        <td>Gender: </td>
    <td><input type="radio" name="Gender:" value="Male">Male
   <input type="radio" name="Gender:" value="Female">Female
    <input type="radio" name="Gender:" value="Others">Others</td><br>
        </tr>
    <tr>
    <td>Phone Number: </td><td><input type="number" name="Phone Number:" placeholder="Enter your Phonenumber"></td><br>
    </tr>
    <tr></tr>
    <td>Email: </td><td><input type="email" name="MailID:" placeholder="Enter your Mail ID"></td><br>
    <tr>
        <td>Address: </td><td><textarea  value="address" placeholder="Enter your address"></textarea></td><br>
        </tr>
    <tr>
    <td>Department: </td>
        <td>
    <select name="Department" id="Department">
        <option value="Departments">Departments</option>
<!--    <option value="ComputerScience">ComputerScience</option>-->
<!--    <option value="Commerce">Commerce</option>-->
<!--    <option value="Zoology">Zoology</option>-->
<!--    <option value="Maths">Maths</option>-->
<!--        <option value="Physics">Physics</option>-->
    </select>
            </td><br>
    </tr>
        <tr>
    <td>Course: </td>
        <td>
    <select name="Course" id="Course">
        <option value="Courses">Courses</option>

        </select>
            </td><br>
    </tr>
<!--    <tr></tr>-->
<!--    <td>Course</td>-->
<!--     <td></td>-->
<!--     <select id="ComputerScience" name="ComputerScience">-->
<!--         <option value="BSC">Bsc</option>-->
<!--         <option value="BCA">Bca</option>-->
<!--     </select>-->
<!--    <label>Course</label>-->
<!--    <select id="Commerce" name="Commerce">-->
<!--         <option value="Bcom">Bsc</option>-->
<!--         <option value="Mcom">Bca</option>-->
<!--     </select>-->
<!--    <label>Course</label>-->
<!--    <select id="Zoology" name="Zoology">-->
<!--         <option value="BSC">Bsc</option>-->
<!--         <option value="Msc">Bca</option>-->
<!--     </select>-->
<!--    <label>Course</label>-->
<!--    <select id="Maths" name="MAths">-->
<!--         <option value="BSC">Bsc</option>-->
<!--         <option value="Msc">Bca</option>-->
<!--     </select>-->
<!--    <label>Course</label>-->
<!--    <select id="Physics" name="Physics">-->
<!--         <option value="BSC">Bsc</option>-->
<!--         <option value="BCA">Msc</option>-->
<!--     </select>-->
        <tr>
    <td>Purpose: </td>
    <td><select>
    <option value="Enquiry">Enquiry</option>
    <option value="Placeorder">Placeorder</option>
        <option value="Return">Return</option></select></td>
            </tr>
        <tr>
        <td>Materials Provided:</td>
       <td> <input type="checkbox" name="pen"value="pen"><label>Pen</label><br>
        <input type="checkbox" name="notebook"value="notebook"><label>Notebook</label><br>
            <input type="checkbox" name="exampaper"value="exampaper"><label>Exampapers</label><br></td>
        </tr>

<tr>
       <center><td> <button type="button" onclick="myalert()">Submit</button></td></center>

<!--    <td><button type="logout">Logout</button></td></tr>-->
        </form></table>


</div>
                    </div>
</div>
 </footer>
</div>

<div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">EduSquare</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
<script>
        function myalert()
        {
<!--        alert("Form is Submitted")-->
        if(window.confirm('If you click "ok" you would be redirected to home page. cancel will load this page.'))
        {
        window.location.href="/"}
        }
    </script>

<script>
    var dept=[
    {item:"Computer Science",subitems:["BSc. CS","MSc. CS","BCA","MCA"]},
    {item:"Commerce",subitems:["BCom","MCom"]},
    {item:"Zoology",subitems:["BSc. Zoology","MSc. Zoology"]},
    {item:"Maths",subitems:["BSc. Maths","MSc. Maths"]},
    {item:"Physics",subitems:["BSc. Physics","MSc. Physics"]}
     ]
    window.onload=function(){
    var deptsel=document.getElementById("Department");
    var coursesel=document.getElementById("Course");
    for(var x in dept){
      deptsel.options[deptsel.options.length]=new Option(dept[x].item,x);}
    deptsel.onchange=function(){
    coursesel.length=1;
    var y=dept[this.value].subitems;
    for(var i=0;i<y.length;i++)
    {coursesel.options[coursesel.options.length]=new Option(y[i],y[i]);}}}


    </script>

</script>
    <script src="{% static 'js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/timeline.min.js' %}"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>